.card{
  margin-top: 7%;
}

.channels{
  margin-top: 15%;
}


img{
  max-width: 100%;
  height: auto;
}

li{
  font-size: 1.5rem;
}

.card-header{
  background: url("https://i.imgur.com/LDiWP91.png");
  color: white;
}

.card-title{
  padding-top: 2%;
}

.input-label{
  background: rgba(0,0,0,0);
  border: none;
  cursor: none;
  color: black;
  padding-left: 4%;
  font-size: 1rem;
}


